<%= form_with(model: applicant, local: true) do |form| %>
  <% if applicant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(applicant.errors.count, "error") %> prohibited this applicant from being saved:</h2>

      <ul>
        <% applicant.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= label_tag(:first_name, "First Name:") %>
  <%= text_field(:applicant, :first_name) %>
  <br/>
  <%= label_tag(:last_name, "Last Name:") %>
  <%= text_field(:applicant, :last_name) %>
  <br/>
  <%= label_tag(:email, "Email:") %>
  <%= text_field(:applicant, :email) %>
  <br/>
  <%= label_tag(:bio, "Bio:") %>
  <%= text_field(:applicant, :bio) %>
  <br/>
  <%= label_tag(:date_applied, "Date Applied:") %>
  <%= text_field(:applicant, :date_applied) %>
  <br/>
  <%= hidden_field(:applicant, :job_position_id) %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
